<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824415892763-vpbuc3u2rv08etv9vos3bj7265b08tpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824415892763-vpbuc3u2rv08etv9vos3bj7265b08tpf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuZ6sRHSgYJ2Cffz-nLX0GuqlC_YG1HLY</string>
	<key>GCM_SENDER_ID</key>
	<string>824415892763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmiot</string>
	<key>PROJECT_ID</key>
	<string>farmiot2-991dc</string>
	<key>STORAGE_BUCKET</key>
	<string>farmiot2-991dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824415892763:ios:34134c3b13a2ab856d8fbe</string>
</dict>
</plist>